<!DOCTYPE html>
<html lang="en" ng-app="catalogoRegistros">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/registroCtrl.js"></script>
    <script src="js/services/registrosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/configValue.js"></script>

</head>
<body>
    <div class="jumbotron">
        <div ng-controller="registroController">
            <h4>{{titulo}}</h4>
            <ui-alert ng-show="error" title="Um problema aconteceu!" >
                {{error}}
            </ui-alert>
            <input type="text" ng-model="busca" placeholder="Busca no registro" class="form-control"/>
            <table class="table">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('serial')" >Serial</a></th>
                    <th><a href="" ng-click="ordenarPor('nome')" >Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')" >Telefone</a></th>
                    <th><a href="" ng-click="ordenarPor('idade')" >Idade</a></th>
                    <th><a href="" ng-click="ordenarPor('operadora')" >Operadora</a></th>
                    <th><a href="" ng-click="ordenarPor('data')" >Data de Inclusão</a></th>
                    <th>Status</th>
                </tr>
                <tr ng-class="{selecionado: registro.selecionado}"
                    ng-repeat="registro in registros | filter:busca | orderBy:ordenacao:valordem"
                    ng-class="classe1">
                    <td><input type="checkbox" ng-model="registro.selecionado"></td>
                    <td>{{registro.serial}}</td>
                    <td>{{registro.nome | name | ellipsis:20}}</td>
                    <td>{{registro.telefone}}</td>
                    <td>{{registro.idade}}</td>
                    <td>{{registro.operadora.nome}}</td>
                    <td>{{registro.data | date: 'dd/MM/yyyy'}}</td>
                    <td><div ng-click="alternarStatus()"
                             style="margin-left: 20px; width: 20px; height: 20px;"
                             ng-style="{'background-color': getCor(registro)}"></div></td>
                </tr>
            </table>
            <hr/>
            <form name="registroForm">
                <input name="nome"
                       ng-maxlength="22"
                       ng-required="true"
                       class="form-control"
                       type="text"
                       ng-model="registro.nome"
                       placeholder="Nome"/>
                <input name="telefone"
                       ng-minlength="11"
                       ng-required="true"
                       class="form-control"
                       type="number"
                       ng-model="registro.telefone"
                       placeholder="Telefone"/>
                <input name="idade"
                       ng-maxlength="3"
                       ng-minlength="2"
                       ng-required="true"
                       class="form-control"
                       type="number"
                       ng-model="registro.idade"
                       placeholder="Idade"/>
                <input name="data"
                       class="form-control"
                       type="text"
                       ng-model="registro.data"
                       placeholder="Data"
                       ui-date/>
                <select ng-required="true"
                        class="form-control"
                        ng-model="registro.operadora"
                        ng-options="operadora.nome for operadora in operadoras | orderBy: 'nome'">
                    <option value="">Selecione uma Operadora</option>
                </select>
            </form>
            <div ng-show="registroForm.nome.$invalid && registroForm.nome.$dirty" class="alert-danger">
                Nome Inválido!
            </div>
            <div ng-show="registroForm.telefone.$invalid && registroForm.telefone.$dirty" class="alert-danger">
                Telefone Inválido!
            </div>
            <div ng-show="registroForm.idade.$invalid && registroForm.idade.$dirty" class="alert-danger">
                Idade Inválida!
            </div>
            <button class="btn btn-primary btn-block"
                    ng-disabled="registroForm.$invalid"
                    ng-click="adicionarRegistro(registro)">Adicionar Registro</button>
            <button class="btn btn-danger btn-block"
                    ng-click="removerRegistro(registros)"
                    ng-disabled="!registroSelecionado(registros)">Remover Registro(s)</button>
            <br>
            <button ng-show="registroSelecionado(registros)"
                    class="btn btn-success"
                    ng-click="ativarStatus(registros)"
                    ng-disabled="!registroSelecionado(registros)">Ativar</button>
            <button ng-show="registroSelecionado(registros)"
                    class="btn btn-dark"
                    ng-click="desativarStatus(registros)"
                    ng-disabled="!registroSelecionado(registros)">Desativar</button>
        </div>
    </div>
    <div ng-include="'view/footer.html'"></div>
</body>
</html>