<div class="jumbotron">
    <img src="/img/mc.png" class=image ng-show="showImage">
    <h4>{{titulo}}</h4>
<form name="registroForm">
    <select class="form-control" ng-model="registro.tipo">
        <option value="">Selecione o tipo</option>
        <option>Pessoa Física</option>
        <option>Pessoa Jurídica</option>
    </select>

    <div ng-if="registro.tipo === 'Pessoa Física'">
        <input name="nome"
               ng-required="true"
               class="form-control"
               maxlength="55"
               type="text"
               ng-model="registro.nome"
               placeholder="Nome"/>
        <input name="cpf"
               ng-required="true"
               class="form-control"
               type="text"
               ng-model="registro.cpf"
               placeholder="CPF"
               ui-cpf/>
    </div>
    <div ng-if="registro.tipo === 'Pessoa Jurídica'">
        <input name="nomeFantasia"
               ng-required="true"
               class="form-control"
               maxlength="55"
               type="text"
               ng-model="registro.nomeFantasia"
               placeholder="Nome Fantasia"/>
        <input name="cnpj"
               ng-required="true"
               class="form-control"
               type="text"
               ng-model="registro.cnpj"
               placeholder="CNPJ"
               ui-cnpj/>
        <input name="razaoSocial"
               ng-required="true"
               class="form-control"
               type="text"
               ng-model="registro.razaoSocial"
               placeholder="Razão Social"/>
    </div>
    <input name="telefone"
           ng-minlength="14"
           ng-required="true"
           class="form-control"
           type="text"
           ng-model="registro.telefone"
           placeholder="Telefone"
           ui-telefone/>
    <input name="idade"
           ng-maxlength="3"
           ng-minlength="2"
           ng-required="true"
           class="form-control"
           type="number"
           ng-model="registro.idade"
           placeholder="Idade"/>
    <input name="data"
           class="form-control"
           ng-required="true"
           type="text"
           ng-model="registro.data"
           placeholder="Data"
           ui-date/>
    <select ng-required="true"
            class="form-control"
            ng-model="registro.operadora"
            ng-options="operadora.nome + '( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy: 'nome'">
        <option value="">Selecione uma Operadora</option>
    </select>
</form>
<div ng-show="registroForm.nome.$invalid && apertou" class="alert-danger">
    Nome Inválido!
</div>
<div ng-show="registroForm.telefone.$invalid && apertou" class="alert-danger">
    Telefone Inválido!
</div>
<div ng-show="registroForm.idade.$invalid && apertou" class="alert-danger">
    Idade Inválida!
</div>
<div ng-show="registroForm.data.$invalid && apertou" class="alert-danger">
    Data Inválida!
</div>
<div ng-show="registro.operadora.nome === undefined && apertou" class="alert-danger">
    Selecione uma operadora!
</div>
<button class="btn btn-primary btn-block"
        ng-click="adicionarRegistro(registro)">Adicionar Registro</button>
    <br>
    <a class="btn btn-danger" href="#!/registros">Voltar</a>
</div>
</div>